@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-main,
.max-header {
    max-width: 2000px;
    margin: 0 auto;
    justify-content: center;
}


/* ------------------------Header section----------------------------------- */

.desktop-navbar a {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    color: white;
    letter-spacing: 0.07em;
}

.desktop-navbar a:hover {
    color: #e7277c;
    transition: all .3s ease;
}

.group li {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.group li:hover {
    color: #e7277c;
}

.call-para {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif !important;
    line-height: 20px;
    letter-spacing: 0.04em;
    font-weight: 500;
}

.mobile-navbar li {
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid #3b3b3b;
    padding: 15px 0px;
}

.navbar-hidden {
    display: none;
}

.mobile-navbar li:hover {
    color: #e7277c;
    transition: all .3s ease;
}

.mobile-dropdwon-icon {
    transform: rotate(270deg);
}

.nav-sub-heading li {
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    border: none;
    padding: 2px 0px;

}

.header-icons a {
    position: relative;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
}

.header-icons a:hover {
    color: #e7277c !important;
}


.forkit {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 150px;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    transform: translate(0px, 0px) rotate(0deg);
}

.forkit span {
    display: block;
    height: 30px;
    width: 200px;
    color: #fff;
    background: #d42570;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    box-shadow: 0 0 10px #0006;
    transform: translate(80px, -15px) rotate(45deg);
    -webkit-transform-origin: 15px 0;
    -moz-transform-origin: 15px 0;
    -ms-transform-origin: 15px 0;
    -o-transform-origin: 15px 0;
    transform-origin: 15px 0;
}


/* ------------------------Footer section----------------------------------- */
.footer-links a:hover {
    background-color: #e7277c;
}

.footer-bottom img {
    width: 170px;
    height: auto;
}

.footer-menu a {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}

.footer-contact p,
.footer-contact a {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.footer-contact br {
    display: block;
    content: "";
    margin-top: 0;
}

.footer-form p {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.footer-form input{
    font-size: 14px;
    padding-left: 20px;
}

.footer-form button{
    font-size: 14px;
    padding: 0 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

/* ------------------------Hero section----------------------------------- */

.console-underscore {
    display: inline-block;
    position: relative;
    top: 0;
    left: 10px;
}

/* .small-banner h1{
    font-size: 42px;
}

.small-banner p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
} */

.small-banner button {
    padding: 14px 35px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
}



/* ------------------------BrandSlider section----------------------------------- */

.slick-track {
    display: flex;
    align-items: center;
}


.slider-img-div {
    display: flex;
    justify-content: center;
}

.slider-img-div img {
    width: 100%;
    max-width: 110px;
    max-height: 80px;

}

/* .slick-prev:before,
.slick-next:before {
    color: #d2d2d2 !important;
    opacity: 0.7;
} */

.slick-prev:before,
.slick-next:before {
    content: "";
    font-size: 20px;
    line-height: 1;
    color: #000;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
}

.slick-prev{
    background: url(./assets/arrow-prev.png) no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
    /* left: -45px; */
}
.slick-next{
    background: url(./assets/arrow-next.png) no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
    /* right: -45px; */
}




.slick-dots {
    display: none !important;
}


.slick-slider {
    max-width: 950px !important;
    margin: 0 auto;
}

/* .slick-list{
    max-width: 950px !important;
    margin: 0 auto ;
} */

/* --------------------------GridItems Section--------------------- */

.grid-details h1 {
    position: relative;
    text-transform: capitalize;
    padding-left: 45px;
    font-weight: 600;
    color: #3B3B3B;
    letter-spacing: 0;
    margin-top: 10px;
}


.grid-details p {
    color: #69727b;
    font-size: 14px;
    opacity: 95%;
    line-height: 2;
    margin-top: 12px;
}

.grid-details ul {
    margin-top: 14px;
}

.grid-details li {
    color: #666c82;
    font-size: 17px;
    font-weight: 300 !important;
    line-height: 2;
    position: relative;
    padding-left: 40px;
    margin: 5px 0;
}

.grid-details li::before {
    content: "▶";
    left: 0;
    top: 12px;
    margin-left: 5px;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #7e8395;
    border-radius: 100%;
    text-align: center;
    font-size: 9px;
    line-height: 12px;
    color: #fff;
    font-weight: 600;
}

.grid-details h1::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 45px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid-1 h1::before {
    background-image: url(./assets/numbers/one.webp);
}

.grid-2 h1::before {
    background-image: url(./assets/numbers/two.webp);
}

.grid-3 h1::before {
    background-image: url(./assets/numbers/three.webp);
}

.grid-4 h1::before {
    background-image: url(./assets/numbers/four.webp);
}

.grid-5 h1::before {
    background-image: url(./assets/numbers/five.webp);
}

.grid-6 h1::before {
    background-image: url(./assets/numbers/six.webp);
}

.grid-7 h1::before {
    background-image: url(./assets/numbers/seven.webp);
}


.gridItems1 img,
.gridItems2 img {
    padding: 16px;
    justify-content: center;
    margin: 0 auto;
}

.iconsGrid {
    max-width: 900px;
    justify-content: center;

}

.iconsGrid img {
    justify-content: center;
    opacity: 0.9;
    margin: 0 auto;
}

.webType-section p {
    color: #69727b;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
}


/* ------------------------Reviews section----------------------------------- */

.grid-boxes button {
    margin-top: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    color: #343b39;
    text-align: center;
}



.grid-boxes button:hover {
    color: #60C77C;
}

.grid-box section {
    margin-top: 1.5rem;
}

.reviews-main {
    max-width: 1630px;
    margin: 0 auto;
    /* justify-content: center; */
}


/* ------------------------KeyFeatures section----------------------------------- */

.features-grid h2 {
    text-transform: capitalize;
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: #3A3F52;
}


/* ------------------------FAQ section----------------------------------- */

.accordation h2 {
    font-size: 19px;
    line-height: 25px;
    margin: 0;
    padding-left: 15px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
    color: #3b3b3b;
}

.accordation p {
    padding: 5px 5px 0;
    font-size: 16px;
    line-height: 32px;
    color: #69727b;
    font-weight: normal;
}

.faq-section h1 {
    color: #383838;
}


/* ------------------------Contact Form + Modal section----------------------------------- */

.contactForm-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactForm-section h2 {
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}

.contactForm-section p {
    text-align: center;
    letter-spacing: 0.05em;
}

.contactForm-section button {
    color: white;
    text-transform: uppercase;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
}

.contactForm-section button:hover {
    background-color: #e7277c;
    transition-delay: 200;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.FormSmall {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formSection input {
    width: 100%;
    border: 1px solid #c3c1c1;
    border-radius: 6px;
    outline: none;
}

.FormLarge {
    display: flex;
    width: 100%;
}



/* ------------------------Media Queries----------------------------------- */


/* --------------------------Mobile Screen--------------------- */
@media only screen and (min-width: 200px) and (max-width: 479px) {
    .forkit {
        width: 170px;
        height: 100px;
    }

    .forkit span {
        font-size: 12px;
        width: 170px;
    }

    .gridItems-heading {
        text-align: start;
        padding: 0 20px;
    }

    .mini-slider {
        padding-left: 42px;
        padding-right: 42px;
    }

    .mini-slider h2{
        font-size: 15px;
    }

    .our-reviews-heading{
        font-size: 15px;
    }

    .reviews-brand h2{
        font-size: 14px;
    }

    .reviews-brand{
        margin-top: 28px;
    }

    .grid-details h1::before {
        top: 2px;
        width: 28px;
        height: 35px;
    }

    .grid-details h1 {
        padding-left: 40px;
    }

    .features-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-top: 30px;
    }

    .features-section {
        padding-left: 8px;
        padding-right: 8px;
    }

    .features-section h1 {
        padding: 0 10px;
        font-size: 22px;
        line-height: 28px;
    }

    .features-grid h2 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }

    .features-grid img {
        height: 56px;
    }

    .partners-section h1 {
        font-size: 26px;
    }

    .partners-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .webType-section p {
        font-weight: 300;
        font-size: 17px;
    }

    .webType-header {
        font-size: 28px;
    }

    .contactForm-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-bottom img {
        width: 90px;
        height: auto;
        margin-top: 15px;
    }

    /* .reviews-main{
        padding-right: 32px;
        padding-left: 32px;
    } */

    .small-banner h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .small-banner p {
        font-size: 18px;

    }

    .small-banner button {
        padding: 13px 28px;
        font-size: 12px;
    }

    
   
}

/* --------------------------Small Screen--------------------- */

@media only screen and (min-width: 480px) and (max-width: 639px) {
    .xs-slider {
        padding-left: 55px;
        padding-right: 55px;
    }


    .grid-details h1::before {
        top: 2px;
        width: 28px;
        height: 35px;
    }

    .features-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .features-section h1 {
        font-size: 25px;
        line-height: 32px;
    }

    .features-grid h2 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 22px;
    }

    .features-grid img {
        height: 56px;
    }

    .contactForm-section {
        padding-left: 24px;
        padding-right: 24px;
    }

    .modal-form {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-bottom img {
        width: 120px;
        height: auto;
        margin-top: 15px;
    }

    /* .reviews-main{
        padding-right: 20px;
        padding-left: 20px;
    } */

    .small-banner h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .small-banner button {
        padding: 14px 30px;
        font-size: 13px;
        font-weight: 400;
    }
    
}


/* --------------------------tablet Screen--------------------- */
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .grid-details h1::before {
        top: 2px;
        width: 30px;
        height: 38px;
    }

    .footer-bottom img {
        width: 110px;
        height: auto;
        margin-top: 15px;
    }

}

/* --------------------------Medium Screen--------------------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-details h1::before {
        top: 2px;
        width: 32px;
        height: 44px;
    }

    .grid-details h1 {
        padding-left: 50px;
    }

    .grid-details li {
        margin: 3px 0;
        padding-left: 35px;
    }

    .accordation h2 {
        font-size: 18px;
    }

    .accordation p {
        font-size: 15px;
    }

    .footer-bottom img {
        width: 110px;
        height: auto;
        margin-top: 15px;
    }
    .footer-form input{
        font-size: 11px;
        padding-left: 10px;
    }
    
    .footer-form button{
        font-size: 11px;
        padding: 0 5px;
    }
    .grid-boxes button{
        font-size: 17px;
        margin-top: 10px;
    }
}

/* --------------------------Large Screen--------------------- */

@media only screen and (min-width: 1024px) {
    .grid-details h1::before {
        top: 0px;
        width: 35px;
        height: 48px;
    }

    .grid-details h1 {
        padding-left: 55px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .footer-form input{
        font-size: 13px;
        padding-left: 17px;
    }
    
    .footer-form button{
        font-size: 13px;
        padding: 0 10px;
    }
    .grid-boxes button{
        font-size: 17px;
        margin-top: 10px;
    }
}



/* --------------------------others Screen--------------------- */



@media only screen and (min-width: 200px) and (max-width: 639px) {
    .xs-grid-col-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .small-banner {
        margin-top: 40px;
        margin-bottom: 50px;
        padding-bottom: 100px !important;
        background-position: 5% !important;
    }

    .small-banner-text {
        top: 80px;
    }

    .gridItems-heading {
        font-size: 24px;
        line-height: 32px;
    }

    .grid-details li {
        margin: 0 0;
        padding-left: 30px;
    }

    .accordation h2 {
        font-size: 17px;
        padding-left: 10px;
    }

    .accordation p {
        font-size: 15px;
    }
    .grid-boxes button{
        font-size: 16px;
        margin-top: 10px;
    }
    .grid-box section {
        margin-top: 1rem;
    }
    
    
}

@media only screen and (min-width: 200px) and (max-width: 1023px) {
    .md-screen-hidden {
        display: none;
    }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
    .grid-boxes{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .reviews-main{
        padding-left: 20px;
        padding-right: 20px;
    }
    .grid-boxes img{
        padding: 10px;
    }
    .grid-boxes button{
        font-size: 16px;
        margin-top: 1px;
    }
}